.container {
    display: flex;
    height: 100vh;
  }
  
  .imageSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
  
  .textSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .article {
    margin-bottom: 20px;
  }
  
  .bottomText {
    text-align: center;
    font-size: 1rem;
  }
  

  